{{>profile-nav}}
<div>
    <h2>Wellcome to your profile {{user.firstName}}</h2>
    <div>
        Name: {{user.firstName}} {{user.lastName}} <br> Email: {{user.email}}<br> <br>
        <a href="/user/{{user.id}}/pins/"><button class="btn">My Pins</button></a><br>
        <hr>
    </div>
    <button id="btn-change-password" class="btn">Change password</button>
    <button id="remove" class="btn btn-danger pull-right" data-id="{{user.id}}" data-toggle="modal" data-target="#delete-account-modal">Unsubscribe</button>
</div>
<div class="modal fade" id="delete-account-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-exclamation-sign">&nbsp;</span>Remove</h4>
            </div>
            <div class="modal-body">
                <p>Delete user account !</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="btn-remove" type="button" class="btn btn-danger btn-default" data-yes="modal" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4 white transparent text-center" id="status-message"></div>
</div><br>

<div id="password-wrapper" class="row invisible">
    <form id="password-form" class="col-md-4 col-md-offset-4" data-id="{{user.id}}">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span>
            </span>
            <input class="form-control" type="password" name="password" required aria-required="true" placeholder="Current password">
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span></span>
            <input id="npassword" class="form-control" type="password" name="npassword" required aria-required="true" placeholder="New password">
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span></span>
            <input class="form-control" type="password" name="cpassword" required aria-required="true" placeholder="Confirm password">
        </div>
        <br>
        <div class="text-center"><button type="submit" class="btn btn-fancy">Submit</button></div>
    </form>
</div>
<script src="{{cdn.jQueryValidate}}" defer></script>
<script>
    $(document).ready(function() {
        $.validator.setDefaults({
            submitHandler: function(form) {
                var password = $(form).find('input[name="password"]').val();
                var newPassword = $(form).find('input[name="npassword"]').val();
                var userId = $('#password-form').data('id');

                changePassword(userId, password, newPassword);
            }
        });

        $("#password-form").on("submit", function(event) {
            event.preventDefault();
        });

        $("#password-form").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 8
                },
                npassword: {
                    required: true,
                    minlength: 8
                },
                cpassword: {
                    required: true,
                    minlength: 8,
                    equalTo: "#npassword"
                }
            },
            messages: {
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 8 characters long"
                },
                npassword: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 8 characters long"
                },
                cpassword: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 8 characters long",
                    equalTo: "Please enter the same password as above"
                }
            },
            errorElement: "em",
            errorPlacement: function(error, element) {
                error.addClass("help-block");
                error.insertAfter(element);
            },
            highlight: function(element, errorClass, validClass) {
                $(element).parents(".col-md-4").addClass("has-error").removeClass("has-success");
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).parents(".col-md-4").addClass("has-success").removeClass("has-error");
            }
        });
    });

    // Modal handler
    $(document).on("click", "#remove", function() {
        var removeUserId = $(this).data("id");
        var removeUser = "removeAccount('" + removeUserId + "')";
        $("#btn-remove").attr("onclick", removeUser);
    });

    // Show password form
    $("#btn-change-password").click(function() {
        $("#password-wrapper").toggleClass("invisible");
    });

    function displayStatusMessage(message) {
        console.log("STATUS:", message);
        $("#status-message").text(message).fadeTo(4000, 500).slideUp(500, function() {
            $("#status-message").slideUp(500);
        });
    }

    function changePassword(userId, password, newPassword) {
        var url = window.location.origin + '/user/' + userId + '/' + password + '/' + newPassword;

        $.ajax({
            url: url,
            type: 'PUT',
            success: function(result) {
                if (result.changed) {
                    $("#password-wrapper").toggleClass("invisible");
                    $("#status-message").css('border', '1px solid green');
                    $("#password-form").trigger('reset');
                    displayStatusMessage(result.message);
                } else {
                    $("#status-message").css('border', '1px solid red');
                    displayStatusMessage(result.message);
                }
            }
        }, 'json');
    }

    function removeAccount(userId) {
        var url = window.location.origin + '/user/' + userId;
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function(result) {
                if (result.deleted) {
                    $("#status-message").css('border', '1px solid green');
                    displayStatusMessage(result.message);
                    setTimeout("window.location.href='/';", 6000);
                } else {
                    $("#status-message").css('border', '1px solid red');
                    displayStatusMessage(result.message);
                }
            }
        }, 'json');
    }

</script>
